<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서버연습 1</title>
</head>
<body>
    <h1>강현이가 만든 첫 서버</h1>
    <input type="number" id="num">
    <button onclick="sendData()">DB저장</button>
    <p id="result"></p>
    <ol id="dblist" style="line-height: 2; font-size: 18px;">
    </ol>

    <script>
        async function sendData(){
            const val = document.getElementById('num').value;
            const resultText = document.getElementById('result');
            const resultdb = document.getElementById('dblist');

            const response = await fetch('/su/jin',{
                method: 'POST',
                headers: { 'Content-Type': 'application/json'},
                body: JSON.stringify({ inputNumber: val})
        });
        resultdb.innerHTML = "";
        const result = await response.json()
        resultText.innerText= result.message;
        result.db.forEach(row => {
            const li = document.createElement('li');
            li.innerText = row[1];  // 🌟 뒤에 있는 진짜 숫자(15, 10)만 추출!
            resultdb.appendChild(li);
            });

            document.getElementById('num').value = "";
        }
    </script>
    
</body>
</html>